[report]
show_missing = True

[run]
omit =
    # These files are omitted as they are boilerplate added by django, and aren't testable
    jamco/wsgi.py
    jamco/asgi.py
    jamco/views.py
    # Exclude package inits
    */__init__.py
